body {
    font-family: var(--GenSenRounded-M);
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primaryO);
}
.activity {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.activity img {
    width: 50%;
    border-radius: 25px;
    margin-right: 20px;
}
.activity:nth-child(even) {
    flex-direction: row-reverse;
}
.activity:nth-child(even) img {
    margin-right: 0;
    margin-left: 20px;
}
.description {
    flex: 1;
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    box-shadow: var(--shadow);
}
.description h2 {
    margin-top: 0;
    color: var(--primaryO);
}