@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@font-face {
    font-family: 'GenSenRounded TW-L';
    src: url(../webfonts/GenSenRounded2-L.ttc);
}

@font-face {
    font-family: 'GenSenRounded TW-M';
    src: url(../webfonts/GenSenRounded2-M.ttc);
}

@font-face {
    font-family: 'GenSenRounded TW-R';
    src: url(../webfonts/GenSenRounded2-R.ttc);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family: 'GenSenRounded TW-R', 'sans-serif';
    font-size: 100%;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    text-decoration: none;
    color: var(--text);
}

/* input */
input {
    flex: 1;
    border: none;
    color: var(--text);
    font-family: 'GenSenRounded TW-R', sans-serif;
    font-size: 16px;
}

input::placeholder {
    color: var(--grey);
}

input:focus {
    outline: none;
}

/* 共用區 */
:root {
    /* color */
    /* 主色調 */
    --primaryG: rgb(108, 140, 66);
    --primaryO: #EB9B28;

    /* 輔助 */
    --text: #514535;
    --white: #F1F1F1;
    --red: rgb(235, 99, 40);
    --grey: #B1AAA1;

    /* 有透明度 */
    --white-80: rgba(241, 241, 241, .8);
    --white-40: rgba(241, 241, 241, .4);
    /* 漸層 */
    --gradient-w: linear-gradient(rgb(241, 241, 241) 0%, rgba(241, 241, 241, 0) 80%);
    --gradient-g: linear-gradient(rgb(108, 140, 66) 80%, rgba(108, 140, 66, 0) 20%);
    /* 陰影 */
    --shadow: rgba(73, 96, 65, .25);
}

/* 導覽列*/
.topbar {
    /* 固定導覽列 */
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* 動畫 */
    transition: opacity 0.35s ease-in-out;
}

.witheTopbar {
    /* 背景 */
    background: var(--gradient-w);
}

.greenTopbar {
    background: var(--gradient-g);
}

.logo {
    width: 240px;
    height: 100%;
}

.nav-content {
    display: flex;
}

.hidden {
    opacity: 0;
    /* display: none; */
}

#anchor {
    position: absolute;
    top: 0;
}

/* 導覽列按鈕 */
.nav-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    padding: 10px;
}

.nav-links.brown a {
    color: var(--text);
}

.nav-links.green a {
    color: var(--white);
}

/* 小農商城按鈕 */
.shopping-btn {
    background-color: var(--primaryO);
    border-radius: 0 0 0 45px;
    padding: 10px 35px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* 防止按鈕縮小 */
    margin-left: 20px;
    /* 在按鈕和鏈接之間添加間距 */
}

.shopping-btn a {
    color: var(--white);
    /* 按鈕文字顏色 */
}

.shopping-txt {
    display: flex;
    align-items: center;
}

.shopping-txt img {
    width: 54px;
    /* 調整圖片大小 */
    margin-right: 10px;
    /* 調整圖片和文字間的間距 */
}

.shopping-txt1 {
    padding-left: 15px;
}

main {
    flex: 1;
    display: block;
}

/* 首頁 */
#hero {
    background-color: var(--white);
    height: 100vh;
}

/* 小農與我們 */
#about {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#about-tit {
    font-family: 'GenSenRounded TW-M', sans-serif;
    font-size: clamp(38px, 2vw + 1rem, 42px);
    letter-spacing: .2em;
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    z-index: 15;
    transform: translateY(160%);
}

.orangeSeeds {
    width: 100%;
    height: auto;
}


/* 細節 */
#about-content {
    display: flex;
    justify-content: center;


    position: absolute;
    z-index: 15;
    width: 100%;
    height: auto;
    transform: translateY(173%);
    max-width: 1440px;

    color: var(--white);
    letter-spacing: .35em;
}

.about-content-form {
    display: flex;
    flex-direction: column;
    max-width: 640px;

    box-sizing: border-box;
}

.about-content-form-item {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}

.about-content-form-item figure {
    width: 120px;
    height: auto;

    padding-right: 10px;
    /* 控制圖片，頁面放大縮小時不會改變 */
    flex: 0 0 auto;
}

.about-content-form-item img {
    max-width: 100%;
    height: auto;
}

.about-content-form-item h2 {
    font-family: 'GenSenRounded TW-M', 'sans-serif';
    font-size: 1.75em;
    padding-bottom: 5px;
}

.about-content-form-item p {
    font-family: 'GenSenRounded TW-R', 'sans-serif';
    font-size: 1.25em;

    display: block;
    width: 100%;

}

/* 關於我們按鈕 */
#aboutBtn {
    position: absolute;
    bottom: 50px;
    border-radius: 33px;
    z-index: 15;

    /* 按鈕設定 */
    width: 200px;
    background-color: var(--white-80);
    cursor: pointer;
    transition: all .35s ease-in-out;

}

#aboutBtn:hover {
    background-color: var(--white);
}

#aboutBtn a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    font-family: 'GenSenRounded TW-M', 'sans-serif';
    font-size: clamp(16px, 2vw, 24px);
    letter-spacing: .2em;
}

#aboutBtn a div {
    padding: 0px 5px;
}


/* 背景 */
.brownBg {
    position: absolute;
    z-index: 0;
    width: 130%;
    height: auto;
    transform: translateX(-20%) translateY(-10%);
}

.greenBg {
    position: absolute;
    z-index: 10;
    width: 130%;
    height: auto;
    top: 200px;
    left: 20px;
    transform: translateX(-10%);
    filter: drop-shadow(0 -6px 6px rgba(73, 96, 65, .25));
}

.busyFarmers {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: auto;
    transform: translateX(-135%) translateY(100%);
}


/* 最新消息 */
#news {
    display: flex;
    position: relative;
    height: 100vh;
    color: var(--white);
    background-image: url(../images/1/news-tim-mossholder-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;

}

/* 最新消息內容 */
.news-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    overflow: hidden;
}

.news-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.news-content-text {
    width: 500px;
}

.news-content-text h2 {
    font-family: 'Noto Sans TC', 'sans-serif';
    font-weight: bold;
    font-size: clamp(38px, 2vw + 1rem, 40px);
    letter-spacing: .2em;

    display: inline-block;
}

.news-content-text-2 {
    padding-left: 144px;
}

.news-content-text p {
    font-family: 'GenSenRounded TW-R', 'sans-serif';
    font-size: 1em;
    letter-spacing: .1em;

    margin: 40px 20px 40px 0;
}

/* 最新消息按鈕 */
.newsBtn {
    display: flex;
    justify-content: center;
    background-color: var(--white-40);
    border-radius: 45px;
    padding: 5px 20px;
    transition: 0.35s;

}

.newsBtn:hover {
    background-color: var(--white-80);
}

.newsBtn:hover a {
    color: var(--text);
}

.newsBtn a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    font-family: 'GenSenRounded TW-M', 'sans-serif';
    font-size: clamp(16px, 2vw, 24px);
    letter-spacing: .2em;
    color: var(--white);
}

.newsBtn a div {
    padding: 0px 5px;
}

/* 最新消息背景裝飾 */

.newsBg-pre {
    position: absolute;
    z-index: 2;
    width: 130%;
    bottom: 0;

    filter: drop-shadow(0 -6px 6px rgba(73, 96, 65, .25));
    transform: translateY(50%) translateX(-20%) rotate(10deg);
}

/* 合作的小農 */
#cooperation {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cooperation-tit {
    display: flex;
    justify-content: center;
    width: 100%;

    font-family: 'Noto Sans TC', 'sans-serif';
    font-weight: 500;
    font-size: clamp(38px, 3vw + .7rem, 56px);
    letter-spacing: .2em;
    color: var(--primaryG);
}

/* 合作的小農按鈕 */
.cooperationBtn {
    display: flex;
    justify-content: center;
    background-color: var(--primaryO);
    border-radius: 45px;
    transition: 0.35s;
    margin: 50px;
}

.cooperationBtn:hover {
    background-color: var(--red);
}

.cooperationBtn a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    font-family: 'GenSenRounded TW-M', 'sans-serif';
    font-size: clamp(16px, 2vw, 24px);
    letter-spacing: .2em;
    color: var(--white);
}

.cooperationBtn a div {
    padding: 0px 5px;
}

/* 小農商城-banner */
#shoppingBanner {
    width: 100%;
    height: 100vh;
    background-image: url(../images/shopping/marian-hearne-I35_JP2Stwg-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shoppingBanner-tit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20%;
}

.shoppingBanner-tit h1 {
    font-family: 'Noto Sans TC', 'sans-serif';
    font-weight: 500;
    font-size: clamp(38px, 2vw + 1rem, 56px);
    letter-spacing: .2em;
    color: var(--primaryO);

}

.shoppingBanner-Bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.shoppingBanner-Text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 80%;
}

.shoppingBanner-Text-box img {
    width: clamp(16px, 15vw, 244px);
    ;
}

.shoppingBanner-Text-box h3 {
    font-family: 'Noto Sans TC', 'sans-serif';
    font-weight: 500;
    font-size: clamp(38px, 2vw + 1rem, 40px);
    letter-spacing: .2em;
    color: var(--primaryG);
}

.shopping-pre {
    width: 100%;
    position: absolute;
    bottom: -100px;
    z-index: 1;
    filter: drop-shadow(0 -6px 6px rgba(73, 96, 65, .25));
}

/* 小農商城-商品選擇 */
#productList {
    position: relative;
    z-index: 2;
    top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    width: 100%;
    height: 70vh;

    /* 背景 */
    background-image: url(../images/shopping/shoppingBtnAreaBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.productList-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.productList-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
    text-align: center;
}

.productList-item-box img {
    width: clamp(96px, 10vw, 240px);
    height: auto;

}

.productList-item-box h3 {
    margin: 20px 0px;
    font-family: 'GenSenRounded TW-M', 'sans-serif';
    font-size: clamp(16px, 2vw, 24px);
    letter-spacing: .2em;
    color: var(--text);
}

/* 搜尋 */
.productList-search {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    margin: 50px;

}

.productList-search form {
    position: relative;
    display: flex;
    align-items: center;
}

.productList-search-input {
    padding: 8px 48px;
    border: 1.5px solid var(--primaryG);
    border-radius: 99px;
}

.search-img {
    position: absolute;
    right: 15px;
    width: 24px;
    height: 24px;
}

.productList-pre {
    width: 110%;
    transform: translateY(4%);
}

/* 小農商城-特色介紹 */
#features {
    width: 100%;
    height: 100vh;
    overflow: hidden;


    display: flex;
    align-items: center;
    justify-content: space-around;

    /* 背景 */
    background-image: url(../images/shopping/greenBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.features-tip {
    font-family: 'Noto Sans TC', 'sans-serif';
    font-weight: 500;
    font-size: clamp(38px, 2vw + 1rem, 40px);
    letter-spacing: .2rem;
    color: var(--white);
}

.features-secret {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
}

.features-secret-box {
    display: flex;
    justify-content: center;
    align-items:;
    text-align: center;

    margin-bottom: 10px;
    width: 280px;
    height: auto;

    &:nth-child(1) {
        background-color: rgba(241, 241, 241,.3);
    }

    &:nth-child(2) {
        background-color: rgba(235, 155, 40,.3);
    }

    &:nth-child(3) {
        background-color: rgba(81, 69, 53,.3);
    }
}

.features-secret-box img {
    width: 200px;
    height: auto;
}
.features-secret-box h2{
    font-family: 'GenSenRounded TW-R', 'sans-serif';
    font-size: 28px;
    letter-spacing: .2rem;
    color: var(--white);
}
/* 尾頁 */
footer {
    width: 100%;
    height: 500px;
    background-color: var(--red);
    font-size: 72px;
    letter-spacing: .2rem;
    color: var(--white);
    text-align: center;
    line-height: 500px;
    position: relative;
    z-index: 1;
}

.underConstruction {
    width: 100%;
    height: 100vh;
    background-color: var(--red);
    font-size: 72px;
    letter-spacing: .2rem;
    color: var(--white);
    text-align: center;
    line-height: 100vh;
}

@media(max-width:1440px) {
    #about-tit {
        transform: translateY(145%);
    }

    #about-content {
        transform: translateY(164%);
        max-width: 1050px;
    }

    .about-content-form {
        max-width: 500px;
    }

    #aboutBtn {
        bottom: 19px;
    }

    .greenBg {
        height: 30px;
    }

    .brownBg {
        transform: translateX(-20%) translateY(-5%);
    }

    .busyFarmers {
        transform: translateX(-135%) translateY(140%);
    }

    .cooperation-tit {
        font-size: clamp(38px, 2vw + .7rem, 72px);
    }

    .shoppingBanner-Text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 2;
        bottom: 50px;
    }

    .productList-pre {
        bottom: -155px;
    }
}

@media(max-width:1280px) {
    .shopping-pre {
        bottom: -50px;
    }

    .productList-pre {
        transform: translateY(6%);
    }
}