@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@font-face {
    font-family: 'GenSenRounded TW-L';
    src: url(../webfonts/GenSenRounded2-L.ttc);
}

@font-face {
    font-family: 'GenSenRounded TW-M';
    src: url(../webfonts/GenSenRounded2-M.ttc);
}

@font-face {
    font-family: 'GenSenRounded TW-R';
    src: url(../webfonts/GenSenRounded2-R.ttc);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family: var(--GenSenRounded-R);
    font-size: 100%;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    position: relative;
    color: var(--text);
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    text-decoration: none;
    color: var(--text);
}

/* input */
input {
    flex: 1;
    border: none;
    color: var(--text);
    font-family: var(--GenSenRounded-R);
    font-size: 16px;
}

select {
    outline: none;
    box-shadow: none;
}

input::placeholder {
    color: var(--grey);
}

input:focus {
    outline: none;
}

address {
    display: none;
    font-style: normal;
}

/* 共用區 */
:root {
    /* 主色調 */
    --primaryG: #6c8c42;
    --primaryO: rgb(235, 155, 40);

    /* 輔助 */
    --text: #514535;
    --white: #F1F1F1;
    --red: rgb(235, 99, 40);
    --grey: #B1AAA1;

    /* 有透明度 */
    --white-80: rgba(241, 241, 241, .8);
    --white-40: rgba(241, 241, 241, .4);
    --orange-50: rgba(235, 155, 40, .5);
    --text-80: rgba(81, 69, 53, .8);
    /* 漸層 */
    --gradient-w: linear-gradient(rgb(241, 241, 241) 0%, rgba(241, 241, 241, 0) 80%);
    --gradient-g: linear-gradient(rgb(108, 140, 66) 80%, rgba(108, 140, 66, 0) 20%);
    /* 陰影 */
    --shadow: drop-shadow(0 -6px 6px rgba(73, 96, 65, .25));

    /* 文字 */
    --NotoSans: 'Noto Sans TC', 'sans-serif';
    --GenSenRounded-L: 'GenSenRounded TW-L', sans-serif;
    --GenSenRounded-M: 'GenSenRounded TW-M', sans-serif;
    --GenSenRounded-R: 'GenSenRounded TW-R', sans-serif;

    /* 控制滾動視差 */
    --translateY-1: 50%;
    --translateY-2: -30%;
    --translateY-3: 0%;

}

/* 導覽列*/
.topbar {
    /* 固定導覽列 */
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* 動畫 */
    transition: opacity 0.35s ease-in-out;
}

.witheTopbar {
    /* 背景 */
    background: var(--gradient-w);
}

.greenTopbar {
    background: var(--gradient-g);
}

.logo {
    width: 240px;
    height: 100%;
}

.nav-content {
    display: flex;
}

.hidden {
    opacity: 0;
    /* display: none; */
}

#anchor {
    position: absolute;
    top: 0;
}

/* 導覽列按鈕 */
.nav-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    padding: 10px;
}

.nav-links.brown a {
    color: var(--text);
}

.nav-links.green a {
    color: var(--white);
}

/* 小農商城按鈕 */
.shopping-btn {
    background-color: var(--primaryO);
    border-radius: 0 0 0 45px;
    padding: 10px 35px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* 防止按鈕縮小 */
    margin-left: 20px;
    /* 在按鈕和鏈接之間添加間距 */
}

.shopping-btn a {
    color: var(--white);
    /* 按鈕文字顏色 */
}

.shopping-txt {
    display: flex;
    align-items: center;
}

.shopping-txt img {
    width: 54px;
    /* 調整圖片大小 */
    margin-right: 10px;
    /* 調整圖片和文字間的間距 */
}

.shopping-txt {
    padding-left: 15px;
}

main {
    flex: 1;
    display: block;
}

/* footer */
footer {
    position: relative;
    width: 100%;
    height: 60vh;
    bottom: 0;

}

.footer-pre {
    position: absolute;
    z-index: 100;
    bottom: 0;
    filter: var(--shadow);
}

.footer-back {
    position: absolute;
    z-index: 99;
    bottom: 0;
    filter: var(--shadow);
}

/* footer 資訊區*/
#footer-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    font-family: var(--GenSenRounded-L);
    font-size: 16px;
    letter-spacing: .1em;
}

.footer-content-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-contact {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.footer-map {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;

    margin-bottom: 60px;

    font-family: var(--GenSenRounded-R);
    font-size: 24px;
    letter-spacing: .1em;
}

.copyright {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.footer-contact-box {
    display: flex;
    flex-direction: column;

}

.company {
    margin-left: 40px;
}

.media {
    display: flex;
}

.information {
    display: flex;
    flex-direction: column;
}

.media img {
    padding: 0 15px 15px 0;
}

/* 搜尋 */
.productList-search form {
    display: flex;
    position: relative;
    align-items: center;
}

.productList-search-input {
    padding: 8px 48px;
    border: 1.5px solid var(--primaryG);
    border-radius: 99px;
}

/* title */
.tit-box {
    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 5% 1% 5%;
}

.tit-box-text {
    display: flex;
    align-items: center;
    color: var(--primaryG);

}

.tit-box-text svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.tit-box-text h3 {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;

    font-family: var(--NotoSans);
    font-weight: 500;
    font-size: clamp(32px, 2.3rem, 36px);
    letter-spacing: .2em;
    color: var(--primaryG);
    white-space: nowrap;
}

.tit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.tit-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    border: 2px solid var(--primaryG);
    border-radius: 45px;
    color: var(--primaryG);

}

.tit-btn-box h3 {
    font-family: var(--GenSenRounded-M);
    font-size: clamp(14px, 1rem, 18px);
    letter-spacing: .1em;
    color: var(--primaryG);
    white-space: nowrap;

}

.tit-btn-icon {
    width: auto;
    height: clamp(16px, 2vw, 20px);

}

.tit-btn-box:hover {
    color: var(--white);
    background-color: var(--primaryG);
    transition: all .3s ease-in-out;
}

.tit-btn-box:hover h3 {
    color: var(--white);
    transition: all .3s ease-in-out;
}


/* 首頁 */
#hero {
    position: relative;
    width: 100%;
    height: 90vh;
    z-index: 0;
}

.heroBg {
    position: absolute;
    z-index: -6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#FFEABD 5%, #ffeabd00 55%);
}

.mountain-1 {
    position: absolute;
    z-index: -5;
    left: 0;
    transform: translateY(var(--translateY-1));
    width: 100%;
    height: 100%;

}

.heroLogo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -4;

    width: 100%;
    height: 100%;
    transform: translateY(-10%);
}

.heroLogo img {
    width: 30%;
}

.ornament {
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateY(var(--translateY-3));
}

.ornament-left-box {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    margin-left: 3%;
    left: 0;
}

.ornament-left {
    position: absolute;


    &:nth-child(1) {
        width: 21%;
        transform: translateY(34%);
    }

    &:nth-child(2) {
        width: 19%;
        transform: translateX(143%) translateY(7%);
    }

    &:nth-child(3) {
        width: 16%;
        transform: translateX(320%) translateY(25%);
    }

    &:nth-child(3) svg {
        width: 53%;
        height: 100%;
        transform: translateX(159%) translateY(-74%) rotate(77deg);
    }

    &:nth-child(4) {
        width: 23%;
        transform: translateY(130%) translateX(-8%);

    }

    &:nth-child(5) {
        width: 24%;
        transform: translateX(95%) translateY(94%);
    }

    &:nth-child(6) {
        width: 15%;
        transform: translateX(279%) translateY(156%);
    }

    &:nth-child(6) img:nth-child(1) {
        width: 38%;
        height: 100%;
        transform: translateX(138%) translateY(-35%) rotate(-16deg);
    }

    &:nth-child(7) {
        width: 18%;
        transform: translateX(8%) translateY(197%);
    }

    &:nth-child(7) svg {
        width: 37%;
        height: 100%;
        transform: translateX(17%) translateY(51%) rotate(87deg);
    }

    &:nth-child(8) {
        width: 22%;
        transform: translateX(95%) translateY(196%);
    }

    &:nth-child(8) svg {
        width: 20%;
        height: 100%;
        transform: translateY(-524%) translateX(171%) rotate(94deg);
    }

    &:nth-child(9) {
        width: 50%;
        z-index: -1;
        transform: translateY(37%) translateX(-26%);
    }

    &:nth-child(10) {
        width: 50%;
        z-index: -1;
        transform: translateX(35%) translateY(332%);
    }
}

.ornament-right-box {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    margin-left: 3%;
    left: 0;
}

.ornament-right {
    position: absolute;


    &:nth-child(1) {
        width: 25%;
        transform: translateY(44%) translateX(125%);
    }

    &:nth-child(2) {
        width: 20%;
        transform: translateX(305%) translateY(68%);
    }

    &:nth-child(2) svg {
        width: 34%;
        height: 100%;
        transform: translateX(220%) translateY(-352%) rotate(16deg);
    }

    &:nth-child(3) {
        width: 16%;
        transform: translateX(525%) translateY(105%);
    }

    &:nth-child(4) {
        width: 18%;
        transform: translateY(226%) translateX(164%);

    }

    &:nth-child(5) {
        width: 22%;
        transform: translateX(241%) translateY(111%);
    }

    &:nth-child(5) svg {
        width: 23%;
        height: 100%;
        transform: translateX(54%) translateY(72%) rotate(90deg);
    }

    &:nth-child(6) {
        width: 23%;
        transform: translateX(331%) translateY(148%);
    }

    &:nth-child(6) svg {
        width: 35%;
        height: 100%;
        transform: translateX(135%) translateY(48%) rotate(-32deg);
    }

    &:nth-child(7) {
        width: 15%;
        transform: translateX(249%) translateY(350%);
    }

    &:nth-child(8) {
        width: 16%;
        transform: translateX(395%) translateY(411%);
    }

    &:nth-child(9) {
        width: 30%;
        transform: translateY(132%) translateX(99%);
    }

    &:nth-child(9) svg {
        width: 30%;
        height: 100%;
        transform: translateY(78%) translateX(10%) rotate(-46deg);
    }

    &:nth-child(9) img:nth-child(3) {
        width: 32%;
        height: 100%;
        transform: translateY(-137%) translateX(321%) rotate(65deg);
    }

    &:nth-child(10) {
        width: 50%;
        z-index: -5;
        transform: translateX(29%) translateY(224%);
    }
}

.mountain-2 {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    transform: translateY(var(--translateY-2));
}



.play-hero {
    animation: herologo 5s forwards;
}

@keyframes herologo {
    0% {
        width: 100%;
        
    }

    20% {
        width: 100%;

    }

    48% {
        width: 25%;

    }

    56% {
        width: 38%;

    }

    63% {
        width: 30%;
    }

}

/* @keyframes herologo {
    0% {
        width: 100%;
    }
    20%{
        width: 25%;
    }
    28%{
        width: 38%;
    }
    35%{
        width: 30%;
    }
    40%{
        width: 35%;
    }
    42%{
        width: 30%;
    }
    45%{
        width: 32%;
    }
    48%{
        width: 30%;
    }
} */

/* 小農與我們 */
#farm-details {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible
}

#farm-details::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    transform: translateY(-22%);
    width: 100%;
    height: 130%;
    background-image: url('../images/index/mountain-3.png');
    background-repeat: no-repeat;
    background-position: top;
}

.farm-details-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--NotoSans);
    font-weight: 500;
    font-size: 40px;
    color: var(--white);
    letter-spacing: .2rem;

    margin-top: 4.3%;
}

.farm-details-content {
    display: flex;
    width: 80%;
    margin-top: 3%;
}

.farm-details-group {
    display: flex;
    flex-direction: column;
}

.farm-details-item {
    display: flex;
    justify-content: center;
    margin-bottom: 6%;

    &:nth-child(2) {
        margin-top: -1.3%;
    }
}

.farm-details-item figure {
    width: 20%;
    height: auto;
    margin-right: 2%;
    display: flex;
}

.farm-details-item-text {
    display: flex;
    flex-direction: column;
}

.farm-details-item-text p {
    display: block;
    width: 70%;
    font-family: var(--GenSenRounded-R);
    font-size: 20px;
    letter-spacing: .35rem;
    line-height: 3rem;
    color: var(--white);
}

.farm-details-item-text-box {
    display: flex;
    align-items: center;
}

.farm-details-item-text-box h2 {
    font-family: var(--GenSenRounded-M);
    font-size: 28px;
    letter-spacing: .35rem;
    color: var(--white);
}

.farm-details-item-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--white);
    border-radius: 99px;
    margin-right: 1.5%;
}

.farm-details-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.farm-details-button {
    display: flex;
    align-items: center;
    letter-spacing: .5rem;
    font-family: var(--GenSenRounded-M);
    font-size: 24px;
    line-height: 3rem;
    padding: 10px 30px;
    background-color: var(--white);
    transition: all .35s;
    border-radius: 99px;
    cursor: pointer;
    margin: 3% 0;
}

.farm-details-button:hover {
    background-color: var(--white-80);
    padding: 12px 35px;
}

.farm-details-ornament {
    width: 100%;
    height: 100%;
}

.farm-details-ornament img {
    position: absolute;
    bottom: 0;

    &:nth-child(1) {
        left: 0;
        width: 20%;
        transform: translateY(6%);

    }

    &:nth-child(2) {
        right: 0;
        width: 20%;
        transform: translateY(22%);
    }
}

/* 最新消息 */
#news {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#news::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/index/mountain-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.news-text {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;

    border-radius: 99px 99px 0 0;
    background-image: url('../images/index/tim-mossholder-unsplash3.jpg');
    background-size: cover;
    background-position: center;
}

.news-text-box {
    width: 100%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

.news-text-box1 {
    display: inline-block;
    width: 37%;
    margin-bottom: 1%;

}

.news-text-box1 h2 {
    letter-spacing: .2rem;
    color: var(--white);
    font-size: 40px;
    font-family: var(--NotoSans);
    font-weight: 500;
}

.news-text-box1 p {
    color: var(--white);
    font-family: var(--GenSenRounded-R);
    font-size: 16px;
    letter-spacing: .3rem;
    margin-top: .8rem;
}

.news-text-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 14px 38px;
    background-color: var(--white-40);

    border-radius: 45px;
    color: var(--white);
    transition: 0.5s;
    margin: 5% 11% 0 0;
    cursor: pointer;

    font-family: var(--GenSenRounded-M);
    font-size: 24px;
    letter-spacing: .2rem;

}

.news-text-btn:hover {
    background-color: var(--white-80);
    color: var(--text);
}

.news-text-btn:hover .farm-details-button-arrow {
    stroke: var(--text);
}

.news-text-btn div {
    margin-right: 10px;
}

.news-ornament {
    width: 100%;
    height: 100%;
}

.news-ornament svg {
    position: absolute;
    z-index: 2;

    &:nth-child(1) {
        width: 50%;
        height: 32%;
        transform: translateX(-10%) translateY(73%) rotate(-50deg);
    }

    &:nth-child(2) {
        width: 46%;
        height: 18%;
        transform: translateX(44%) translateY(208%) rotate(10deg);
    }

    &:nth-child(3) {
        width: 46%;
        height: 18%;
        transform: translateX(94%) translateY(64%) rotate(-71deg) scaleY(-1);
    }

    &:nth-child(4) {
        width: 39%;
        height: 15%;
        transform: translateX(150%) translateY(359%) rotate(-2deg) scaleX(-1);
    }
}

/* 合作的小農 */
#cooperation {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#cooperation::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 165%;
    bottom: -30%;
    left: 0;
    background-image: url('../images/index/mountain-y.png');
    background-size: cover;
    filter: var(--shadow);
}

.cooperation-tit {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;

    font-family: var(--NotoSans);
    font-weight: 500;
    font-size: clamp(38px, 3vw + .7rem, 56px);
    letter-spacing: .2em;
    color: var(--primaryG);
}

.cooperation-tit svg:nth-child(1) {
    position: absolute;
    transform: translateX(-171%) translateY(-226%);

}

.cooperation-ornament-seeds {
    width: 5%;
    position: absolute;
    transform: translateX(555%) translateY(-818%);
}

/* 合作的小農按鈕 */
.cooperationBtn {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    display: flex;
    justify-content: center;
    background-color: var(--primaryO);
    border-radius: 45px;
    transition: 0.35s;
    margin-bottom: 50px;
    padding: 10px 15px;
}

.cooperationBtn:hover {
    background-color: var(--red);
}

.cooperationBtn a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    font-family: 'GenSenRounded TW-M', 'sans-serif';
    font-size: clamp(16px, 2vw, 24px);
    letter-spacing: .2em;
    color: var(--white);
}

.cooperationBtn a div {
    padding: 0px 5px;
}

.cooperation-ornament-box {
    width: 100%;
    height: 100%;
}

.cooperation-ornament {
    position: absolute;

    &:nth-child(1) {
        transform: translateX(-153%) translateY(-206%);
    }

    &:nth-child(1) svg {
        width: 46%;
        transform: translateX(-5%) translateY(47%) rotate(80deg);
    }

    &:nth-child(2) {
        width: 26%;
        height: 100%;
        transform: translateX(224%) translateY(-42%);
    }
}

@media(max-width:1440px) {
    .farm-details-item figure {
        width: 28%;
    }

    .detail {
        transform: translateY(29%);
    }

    .pineapple {
        margin-left: 3%;
    }


    .cooperation-tit {
        font-size: clamp(38px, 2vw + .7rem, 72px);
    }

    .shoppingBanner-Text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 2;
        bottom: 50px;
    }

    .productList-pre {
        bottom: -155px;
    }

    #footer-content {
        font-size: 12px;
    }

    .footer-contact {
        margin-bottom: 30px;
    }

    .footer-map {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .copyright {
        margin-bottom: 40px;
    }

    #joinUs {
        height: 165vh;
    }

    #joinUs-form {
        height: 128vh;
    }
}

@media(max-width:1280px) {
    .mountain-1 {
        transform: translateY(64%);
    }

    .shopping-pre {
        bottom: -50px;
    }

    .productList-pre {
        transform: translateY(6%);
    }

    .footer-contact {
        margin-bottom: 20px;
    }

    .footer-map {
        margin-bottom: 20px;
    }

    .copyright {
        margin-bottom: 30px;
    }

    #joinUs {
        height: 155vh;
    }

    #joinUs-form {
        height: 120vh;
    }
}

@media(max-width:1180px) {
    #joinUs {
        height: 165vh;
    }

    #joinUs-form {
        height: 140vh;
    }
}